name: SAST-SonarQube

on:
  push:
    branches: [ "main" ]

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v2
        with:
          args: >
            -Dsonar.projectKey=antrian
            -Dsonar.sources=.
            -Dsonar.host.url=https://crowned-unsplendid-alicia.ngrok-free.dev
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
