name: CI - SCA Scan

on:
  push:
    branches: [ main ]

jobs:
  sca-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Snyk SCA
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --file=assets/vendor/fontawesome-free/package.json --all-projects --scan-all-unmanaged || true
